@font-face {
    font-family: 'Gloss and Bloom';
    src: url('../fonts/Gloss_And_Bloom.ttf');
}

$fancy: 'Gloss and Bloom', sans-serif;
$primary-accent: #cabba6; 
$primary-color: #ffffff;
$background-color: #121212;
$content-color: #423d33;
$button-color: #504a40;
